
body	{
		background:	linear-gradient(#FF99FF, #66CCFF);
		height: 1000px; 
		}



h1	{

font-family: 'Pacifico', cursive;
 	}
 	
h1:hover {
 color:white;
} 	
h2{
    border-style: double;
    border-width: 15px;
}

h2:hover {
 color:white;
}
 	
 	img  {
 	
 width: 300px; 		
 		}
 		

